config EERIE_LEAP_CANBUS
    bool "EerieLeap CANBus"
    help
      Add EerieLeap CANBus.

menu "EerieLeap CANBus config"
    depends on EERIE_LEAP_CANBUS

    config EERIE_LEAP_CANBUS_AUTO_DETECT_INTERVAL_MS
        int "Canbus auto detect activity check interval ms"
        default 5000
endmenu
