config EERIE_LEAP_MODBUS
    bool "EerieLeap Modbus"
    help
      Add EerieLeap Modbus.

menu "EerieLeap Modbus config"
    depends on EERIE_LEAP_MODBUS

    config EERIE_LEAP_MODBUS_BAUD_RATE
        int "Modbus baud rate"
        default 115200

    config EERIE_LEAP_MODBUS_RX_TIMEOUT
        int "Modbus rx timeout"
        default 50000
endmenu
